@import "tailwindcss";

/* Minimal semantic color utilities – kept intentionally tiny. */
@layer utilities {
	.bg-primary { background-color: oklch(37.9% 0.146 265.522)}
	.bg-secondary { background-color: oklch(45.9% 0.187 3.815)} /* gray-100 */
	.text-primary { color: oklch(37.9% 0.146 265.522) } /* green-200 */
	.text-secondary { color:oklch(45.9% 0.187 3.815) } /* yellow-200 */

	/* Glowing button effect */
	.glowing-btn {
	box-shadow: 0 0 20px 6px oklch(62.7% 0.194 149.214 / 0.25);
	transition: box-shadow 1s cubic-bezier(0.4,0,0.2,1);
	}

	.glowing-btn:hover,
	.glowing-btn:focus {
	box-shadow: 0 0 50px 20px oklch(88.861% 0.16777 153.447 / 0.55);
	}

}
