form.flex.items-center.gap-2[action=@action method="get" role="search"]
  label.sr-only for=@param Search
  input.w-56.rounded-md.border.border-gray-300.bg-white.py-3.pl-3.pr-3.text-sm.placeholder-gray-400.focus:outline-none id=@param name=@param type="search" placeholder=@placeholder
  = render ButtonComponent.new(text: 'Find', submit: true)