.flex.flex-col.justify-center.items-center.gap-4.px-12
    = image_tag "ladder.png", width: 150, height: 150, class: "object-cover mt-12", alt: "Profile", loading: "lazy"
    p.text-md.text-gray-400.text-center = @message