.relative.min-h-screen.flex.items-center.justify-center
  .absolute.inset-0.z-0#vanta-bg

  .relative.z-10.flex.items-center.justify-center.px-4.sm:mx-24
    .flex.flex-col.md:flex-row-reverse.items-center.max-w-5xl.mx-auto.gap-16.p-8.rounded-2xl
      .flex.flex-col.items-center.md:items-start.md:text-left.text-center
        h1.text-5xl.font-extrabold.text-gray-900.mb-8.md:mb-2.leading-tight Zlecajto.pl
        p.text-lg.text-gray-600.leading-relaxed
          | Zaoszczędź czas i pieniądze, korzystając z lokalnych usług. Budujemy platformę do zlecania i wykonywania drobnych prac w Twojej okolicy.
        = link_to 'Zapisz się!', 'https://tally.so/r/nPo1lb', class: 'bg-primary text-white px-5 py-2 mt-3 rounded-lg text-center w-full md:w-1/4'
      .flex-shrink-0
        = image_tag 'phone.png',
            class: 'h-auto w-60 md:w-80 lg:w-96',
            alt: 'Phone with zlecajto'



  / Vanta.js Birds background
  script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
  script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.birds.min.js"
  script
    |
      document.addEventListener("DOMContentLoaded", function() {
        VANTA.BIRDS({
          el: "#vanta-bg",
          mouseControls: true,
          touchControls: true,
          gyroControls: false,
          minHeight: 200.00,
          minWidth: 200.00,
          scale: 1.00,
          scaleMobile: 1.00,
          backgroundColor: 0xffffff,
          color1: 0x1e293b,
          color2: 0x64748b,
          birdSize: 1.5,
          wingSpan: 40.0,
          speedLimit: 3.0,
          separation: 80.0,
          alignment: 50.0,
          cohesion: 50.0,
          quantity: 1
        })
      })
