.fixed.inset-0.z-50.bg-black/50.flex.items-center.justify-center.animate-fade-in.transition-colors.duration-200.ease-out data-controller="modal whats-new" data-modal-target="overlay"
  .relative.bg-white-ish.rounded-2xl.shadow-xl.max-w-2xl.mx-4.w-full.animate-fade-in data-modal-target="content"
    .px-6.border-b.border-gray-100.flex.items-center.justify-between
      h3.text-lg.font-bold.text-gray-900.pt-8 = 'Pojawiło się coś nowego 👀'
    .px-6.py-2
      p.text-gray-700.mt-1 ✅ Dodaliśmy możliwość zadawania pytań pod zleceniami.
      p.text-gray-700.mt-1 ➡️ Pracujemy nad możliwością barteru na platformie.
      p.text-gray-700.mt-1 ➡️ Pracujemy nad możliwością dodania zlecenia na "jakąkolwiek" datę.
      
    .px-6.py-4.flex.justify-center
      = render Ui::ButtonComponent.new(text: 'Ekstra, rozumiem!',
        button: true,
        size: :sm,
        variant: :green,
        html_options: { data: { action: 'click->whats-new#dismiss click->modal#close' } })