= turbo_frame_tag 'modal' do
  = render Ui::ConfirmModalComponent.new(title: t('.title'),
    body: t('.body'),
    confirm_text: t('shared.buttons.logout'),
    cancel_text: t('shared.buttons.back'),
    confirm_path: destroy_user_session_path,
    confirm_method: :delete,
    confirm_turbo_frame: '_top',
    confirm_variant: :red,
    cancel_variant: :blue)
