= turbo_frame_tag 'modal' do
  = render Ui::ConfirmModalComponent.new(title: 'Uwaga, uwaga!',
    body: "Czy na pewno chcesz usunąć zlecenie? Kto teraz wykona Twoje zadanie?",
    footer: 'Tego się nie da cofnąć!',
    confirm_text: 'Usuwam!',
    cancel_text: 'Zmieniam zdanie',
    cancel_variant: :green,
    confirm_path: task_path(@task),
    confirm_method: :delete,
    confirm_variant: :red)
