= turbo_frame_tag 'modal' do
    = render Ui::ConfirmModalComponent.new(title: t('.title'),
      body: t('.body'),
      footer: t('.footer'),
      confirm_text: t('.confirm_text'),
      confirm_method: :patch,
      cancel_text: t('shared.buttons.back'),
      cancel_variant: :green,
      confirm_path: cancell_chosen_submission_path(@submission),
      confirm_variant: :red)