= turbo_frame_tag 'modal' do
  = render Ui::ConfirmModalComponent.new(title: t('.title'),
    body: t('.body'),
    footer: t('.footer'),
    confirm_text: t('.confirm_text'),
    cancel_text: t('shared.buttons.cancel'),
    confirm_path: completed_task_path(@task),
    confirm_method: :get,
    confirm_turbo_frame: '_top',
    confirm_variant: :green)
